body {
    background-color: #EB6666;
}
header {
    background-color: #BF3D3D;
    background-position: center;
    color: white;
}

Button {
    background-color: #E68282;
    border-block-color: #FFD5D5;
    border-block-style: double;
}

#a{
    border-block-color: #8F1F1F;
}
